@font-face {
    font-family: 'Itellyouallmysecrets';
    src: url('../fonts/Itellyouallmysecrets.woff2') format('woff2'),
         url('../fonts/Itellyouallmysecrets.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: radial-gradient(circle, rgb(0, 174, 255), rgb(0, 0, 0));
    margin: 1em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/fundo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.1em;
   
}
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    background-color:transparent;
    margin: 1em;
    width: 90%;
}

button{
    background-color:transparent;
    font-family: 'Itellyouallmysecrets', sans-serif;
    font-size: 1.5em;
    border:solid 0.15em;
    color: white;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.503), rgba(0, 0, 0, 0.503));
    border-color: rgb(255, 255, 255);
    border-radius: 20px;  
    padding: 0em 1em;
    cursor: pointer;
    transition: 0.4s;
}
button:hover{
    transform: scale(1.10);
    box-shadow: rgb(68, 0, 255) 0px 10px 80px;
    color: rgb(255, 255, 255);
    border-color: blueviolet;
    background: radial-gradient(circle, blueviolet, rgb(0, 0, 0));
}

main{
    position: relative;
    width: 100%;
    height: 50em;
}
.baner{
    position: absolute;
    top: 5%;
    background-color: none;
    margin: 1em 0em;
    padding: 0.3em;
    border: solid;
    border-radius: 0em 7em 0em 7em;
    border-color: rgb(255, 255, 255);
    width:100%;
    height: 85%;
    transition: 0.6s;
    animation: changeShadowColor 2s infinite alternate;
}

.girl{
    position: absolute;
    transform: scaleX(-1);
    top: 9.6em;
    left: 5em;
    opacity: 0.8;
}

.glith{
    position: relative;
    opacity: 0.5;
    mix-blend-mode: screen;
    width:94.5%;
    height: 83%;
    top: 5%;
    margin: 1em 0em;
    padding: 0.3em;
    border-radius: 0em 7em 0em 7em; 
    animation: bug 2s infinite alternate;
}

@keyframes bug {
0% {
    transform: scale(1.12);
}
50% {
    transform: scale(1.13);
}
100% {
    transform: scale(1.14); 
}
}


@keyframes changeShadowColor {
    0% {
        box-shadow: 0em 0em 2em 0.1em rgb(0, 255, 225);
    }
    50% {
        box-shadow: 0em 0em 2em 0.1em rgb(140, 0, 255);
    }
    100% {
      box-shadow: 0em 0em 2em 0.1em rgb(68, 0, 255);
}
}

.descrition{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.100);
    left: 60%;
    top: 16%;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 0em 7em 0em 7em;
    width: 35em;
    height: 33em;
    animation: changeShadowColor 2s infinite alternate;
    
}

.descrition h1{
    font-family: 'Itellyouallmysecrets', sans-serif;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 0em 7em 0em 0em;
    border: solid 0.01em;
    border-bottom: solid 0.1em;
    border-color: rgb(255, 255, 255) ;
    color: rgb(255, 255, 255);
    font-size: 3.5em;
    padding: 0.2em;
    margin: 0.3em;
    text-align: center;
    text-shadow: 0em 0.20em 0.50em rgba(253, 0, 0, 0);
}
.descrition h2{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.700);
    border-left: solid 0.01em;
    border-right: solid 0.01em;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    text-align: center;
    margin: 0em 0.3em;
    text-shadow: 0em 0.20em 0.50em rgb(255, 255, 255);
    padding: 1em ;
    
}
.descrition p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    color: white;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 0.5em 0em ;
    margin: 0em 0.3em 1.5em;
    border-radius: 0em 0em 0em 3em;
    border-left: solid 0.01em;
    border-right: solid 0.01em;
    border-bottom: solid 0.1em;
    border-color: rgb(255, 255, 255);
    overflow: auto; 
    text-overflow: ellipsis; 
}
.descrition p::-webkit-scrollbar {
    width: 0.3em; /* Largura do scrollbar */
}

.descrition p::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Cor de fundo do track do scrollbar */
    border-radius: 1em; /* Borda arredondada */
}

.descrition p::-webkit-scrollbar-thumb {
    background: #ffffff; /* Cor do thumb do scrollbar */
    border-radius: 1em; /* Borda arredondada */
}

.descrition p::-webkit-scrollbar-thumb:hover {
    background: #8a8a8a; /* Cor do thumb ao passar o mouse */
}

/* Estilizando a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 0.6em;  /* Largura da barra de rolagem vertical */
    height: 0.07em;
}
/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.600); /* Cor do polegar */
    border-radius: 1em; /* Borda arredondada */
}
/* Estilizando a trilha da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.400); /* Cor da trilha */  
}

